* {
    box-sizing: border-box;
    background-color: lightgray;
}

header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 0.125rem solid black;
    margin: auto;
    max-width: 90%;


}

.grid-item {

    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    max-width: ;

}


#dogs {
    width: 100%;
    height: 100%;
    object-fit: none;
    
    
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: aliceblue;
}